<html>
    <head>
        <title> <%= siteTitle %> - <%= pageTitle %></title>
        <% include ../partials/head %>

        <style>
        *{
        }
        .bg-primary {
            background-color: #626262!important;
        }
        </style>
    </head>
<body>
    <% include ../partials/navbar %>