<navbar class="navbar navbar-dark bg-primary">
    <span class="navbar-brand" style="color:#fff"> <%= pageTitle %> </span>
    <div class="page-header text-center">
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>
</navbar>